*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    background-image: url("basedSamurai.jpg");
    background-size: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: absolute;

    width: 100%;
    height: 100%;

    transition: .2s;
}

.container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.siForm{
    display: flex;

    padding: 20px;

    transition: .2s;

    background-color: rgba(29, 30, 56, 0.26);
    backdrop-filter: blur(5px);

    border-style: solid;
    border-width: 1px;
    border-color: rgb(21, 21, 46);
    border-radius: 10px;
}

.blur{
    transition: .2s;
    backdrop-filter: blur(2px);
    background-color: rgba(29, 30, 56, 0.26);
}

.unBlur{
    transition: .2s;
    backdrop-filter: blur(0px);
    background-color: rgba(255, 255, 255, 0);
}

#txt{
    padding: 5px 10px 5px 10px;
    width: 250px;
    height: 30px;
    margin: 10px;

    font-family: cursive;

    color: white;

    border-radius: 20px;
    border-width: 1px;
    border-color: rgba(73, 90, 119, 0.301);

    outline: none;
    
    transition: .1s;

    background-color: rgba(126, 130, 158, 0.747);
}

#txt:hover{
    transition: .1s;
    background-color: rgba(107, 110, 133, 0.603);
}

#txt::placeholder{
    color: white;
}

.exInfo{
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    flex-direction: column;
}

.exInfo label{
    font-family: fantasy;
    color: rgba(255, 255, 255, 0.89);
}

#sub{
    height: 30px;
    width: 90px;

    border-radius: 15px;
    border-style: none;

    font-family: cursive;

    transition: .3s;
    background-color: rgba(183, 223, 216, 0.37);
}

#sub:hover{
    cursor: pointer;
    transition: .3s;
    background-color: rgba(183, 223, 216, 0.884);
}

.exInfo a{
    color: rgb(48, 62, 189);
}